/* Foundation v2.2.1 http://foundation.zurb.com */
/* Artfully masterminded by ZURB  */

/* -------------------------------------------------- 
   Table of Contents
-----------------------------------------------------
:: Shared Styles
:: Page Name 1
:: Page Name 2
*/


/* -----------------------------------------
   Shared Styles
----------------------------------------- */
.container {
  width:384px;
  margin: 0 auto;
  padding: 0;
}

.row {
  width:384px;
  max-width: 384px;
  min-width: 384px;
}

.block-grid.two-up {
  margin-left: -2%;
}

.block-grid.two-up > li {
  margin-left: 2%;
  width: 48%;
  margin-bottom: 2%;
}

#logo {
  text-align: center;
}


#edition{
  color:#000;
  font-size:20px;
  font-weight:bold;
  float:right;
}

ul {
  color:#fff;
  background-color: #000;
  margin:0;
}

li {
  color:#000;
  background-color: #fff;
  margin:0;
}

ul h2 {
  color:#fff;
  background-color: #000;
  font-size:24px;
  text-align:right;
  margin: 0;
}

.count{
  float:left;
}

.lang{
  float:right;
}

li.project {
  border-bottom: 3px solid #333;
  font-size:16px;
  text-align:right;
  padding:2px;
}

li.project a{
  color:#000;
}
